<!-- Movie Roulette page for alternate route -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Movie Picker</title>
  </head>
  <header>
  </header>
  <body class="bg-dark container mt-5">
  <div class="d-flex justify-content-center">
  <div class="card-deck">
  <div class="flex-column">
  <div class="card border-dark bg-dark align-items-center mb-4">
    <img style="max-width: 100%; height: auto" src="https://image.tmdb.org/t/p/w500<%= mPick.poster_path %>" width="426" height="640" alt="">
    </div>
    </div>
    </div>
    </div>
    <div class="flex-column mt-auto mb-auto">
  <div class="card bg-dark text-light text-center border-dark">
  <div class="display-3"><%= mPick.title %></div>
    </div>
  </div>
    </div>
  <div class="card mt-5 border-dark bg-dark text-light">
  <h1 class="h3 pt-4 mb-3">Overview</h1>
  <p class="lead d-inline-block" id="lost-para mt-5"><%= mPick.overview %></p></div>
  </div>
</div>
</div>
<br class="mt-5 mb-5"></br>
<div class="text-center">
  <button class="btn-lg btn-danger ml-3 mr-3 mb-3" data-toggle="modal" data-target="#rouletteSpinAgainModal" id="rouletteSpinAgainButton">SPIN AGAIN</button>
<a href="/screenRentals"><button class="btn-lg btn-danger ml-3 mr-3 mb-3" id="roulettePackageReturn">Back to Screen Packages</button></a>
</div>
<%- include('includes/spinAgainModalinclude') %>
  </body>
<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>